@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Actualizar contraseña</h2>
<div class="alert-message success">
    <a class="close" href="#">×</a>
    <p>Tu contraseña fue actualizada con éxito.</p>
</div>
<div class="actions">
    <a href="@Url.Action("Index","Dashboard")" class="btn primary">Volver</a>
</div>