@{
    ViewBag.Title = "Red de Optical Marketing";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>Red de Optical Marketing</h2>
<div class="row-fluid">
<p>Éstas son las ubicaciones que forman parte de la red de difusión de Optical Marketing.</p>

<iframe src="/AdvertHost/Markers" id="markers-map" frameborder="0" style="min-height: 420px; width: 100%" ></iframe>
</div>
