@model OMKT.Business.AdvertCampaign
@{
    ViewBag.Title = "Borrar";
}
<div id="delete-info" class="alert alert-info">
    <strong>¿Estás seguro que deseas eliminar esta campaña?</strong>
</div>
<p>
    <strong>Nombre de Campaña</strong></p>
<p>@Html.DisplayFor(model => model.Name)
</p>
<p>
    <strong>Tipo</strong></p>
<p>
    @Html.DisplayFor(model => model.CampaignType.Name)
</p>
<p>
    <strong>Estado</strong>
</p>
<p>@Html.DisplayFor(model => model.CampaignState.Description)
</p>
