@model OMKT.Business.CommercialProduct

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<div class="span12">
<h2>Producto</h2>
@{Html.RenderPartial("DisplayMessages");}
@using (Html.BeginForm("Edit", "CommercialProduct", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
   <text>
    @{Html.RenderPartial("EditOrCreateCommercialProductPartial", Model);}
    </text> 
}
</div>