@{
    ViewBag.Title = "Administración de Productos";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
    <h2>
    Administración <small>de Productos</small></h2>
<div class="row-fluid">
    <div class="span2">
        <a href="@Url.Action("Create", "CommercialProduct")" class="btn btn-primary">
            <i class="icon-plus icon-white "></i> Nuevo Producto</a>
    </div>
    <div class="span12">@{Html.RenderAction("CommercialProductsOverview", "Stats");}</div>
</div>
@{Html.RenderAction("ActiveProducts", "CommercialProduct");}


