@model OMKT.Business.CatalogDetail
@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{ 
    <div class="alert alert-error">
        @ViewBag.Error
        <button type="button" class="close" data-dismiss="alert">
            &times;</button>
    </div>
}
@using (Html.BeginForm("Create", "CatalogDetails", FormMethod.Post, new { @class = "form-horizontal", @id = "save-detail" }))
{
    @Html.ValidationSummary(true)
    <text>
    @{ Html.RenderPartial("EditOrAddCatalogDetailsPartial", Model); }
    </text>
}
