@model OMKT.Business.CatalogDetail
<div class="alert alert-info">
    <a class="close" href="#">×</a> <strong>¿Estás seguro que deseas borrar este registro?</strong>
</div>
<fieldset>
    <p>
        <strong>Catálogo </strong>
    </p>
    <p>@Html.DisplayFor(model => model.Catalog.Name)
    </p>
    <p>
        <strong>Producto </strong>
    </p>
    <p>@Html.DisplayFor(model => model.CommercialProduct.ProductName)
    </p>
    <p>
        <strong>Orden </strong>
    </p>
    <p>@Html.DisplayFor(model => model.Position)
    </p>
</fieldset>
@using (Html.BeginForm("Delete", "CatalogDetails", FormMethod.Post, new { @class = "form-horizontal", @id = "del-detail" }))
{ }
<script type="text/javascript">
    $('#del-detail').on('submit', function (e) {
        clearErrors();
        e.preventDefault();
        $.post($(this).attr('action'), $(this).serialize(), function (data, status) {
            $('#catalog-modal').modal('hide');
            $("#catalogDetailsList").html(data);
        }).error(function (error, status, a, b) {
            writeError('msgError', 'Ups! Algo anduvo mal. Por favor, intenta nuevamente.');
            $('.modal-body p.body').html(error.responseText);
        });
        return false;
    });
    
</script>
