@model IEnumerable<OMKT.Business.Alert>
<table class="table table-striped table-bordered dataTable">
    <thead>
        <th>
            Fecha
        </th>
        <th>
            Mensaje
        </th>
    </thead>
   @* @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
    }*@
</table>
