@model IEnumerable<OMKT.Business.GameDetail>
@foreach (var item in Model)
{
    <ul class="thumbnails">
        <li class="span3"><a href="@Url.Action("Edit", "CommercialProduct", new { id = item.CommercialProductId })" target="_blank" class="thumbnail">
            <img data-src="holder.js/300x200" alt="" src="@Url.Content(item.CommercialProduct.ProductImage.Path)">
        </a></li>
        <li class="span3"><a href="@Url.Action("Edit", "CommercialProduct", new { id = item.CommercialProductId })" class="thumbnail">
            <img data-src="holder.js/300x200" alt="" src="@Url.Content(item.CommercialProduct.ProductImage.Path)">
        </a></li>
    </ul>

}
