@{
    ViewBag.Title = "Primeros Pasos | OM";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Ayuda</h2>
<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-tabs nav-stacked nav-help">
            <li class="active" href="#primerosPasos"><a href="#"><i class="icon-chevron-right"></i> Primeros pasos con OM</a></li>
            <li><a href="#configuracionCuenta"><i class="icon-chevron-right"></i> Configuración de
                cuenta</a></li>
            <li><a href="#campanyas"><i class="icon-chevron-right"></i>Campañas</a></li>
            <li><a href="#anuncios"><i class="icon-chevron-right"></i>Anuncios</a></li>
            <li><a href="#productos"><i class="icon-chevron-right"></i>Productos</a></li>
            <li><a href="#rendimiento"><i class="icon-chevron-right"></i>Rendimiento</a></li>
        </ul>
    </div>
    <div class="span9">
        <p>
            <img src="@Url.Content("~/Content/images/logo3.png")" width="500" style="margin:0 0 50px 0"></p>
        <h2 id="primerosPasos">
            Primeros pasos con Optical Marketing</h2>
        <h3 id="configuracionCuenta">
            <i class="icon-wrench"></i>Configuración de cuenta</h3>
            <h5>Configuración de cuenta</h5>
<h5>Datos de cuenta</h5>
<p>Puede realizar cambios solo en su cuenta de Optical Marketing, una vez dado de alta, por ejemplo el nombre y apellido del representante o persona de contacto, email nombre, dirección, ciudad y código postal de la empresa o inclusive el teléfono. Sin embargo, hay un elemento que no puede cambiar en su cuenta de Optical Marketing y es la moneda.</p>

<img src="" />
<h5>Actualizar contraseña</h5>
<p>Por cuestiones de seguridad puede actualizar su contraseña cuando lo desee, siempre que cumpla con los requerimientos mínimos de seguridad que exige Optical Marketing, es decir, una contraseña alfanumérica con no menos de 8 caracteres y con al menos un carácter en mayúscula.</p>
<img src="" />

        <h3 id="campanyas">
            <i class="icon-cogs"></i>Campañas</h3>
        <h4>
            Cree anuncios y campañas</h4>
        <h5>
            Cómo crear una campaña</h5>
        <p>
            Debe crear, al menos, una campaña antes de empezar a asignar anuncios en su cuenta.
            Aquí le mostramos cómo crear una campaña y elegir la configuración de su campaña:
            Acceda a su cuenta de Optical Marketing en http://www.opticalmarketing.com.ar/ Si
            es su primera campaña, haga clic en "Nueva campaña".</p>
        <img src="" />
        <h5>
            Campañas</h5>
        <p>
            Se abrirá la página "Nueva Campaña".</p>
        <img src="" />
        <h5>
            Nueva Campaña</h5>
        <p>
            Primero, asigne un nombre a su campaña y elija el tipo de campaña. Aunque Optical
            Marketing indica un nombre de campaña predeterminado, le sugerimos que elija un
            nombre que describa claramente el tema de la campaña para que pueda encontrarla
            fácilmente en su cuenta. Sus clientes no pueden ver el nombre de la campaña. Luego,
            elija el presupuesto que desea asignar, la fecha de comienzo y finalización de la
            campaña.
        </p>
        <p>
            El tipo de campaña determina la configuración que le mostraremos cuando cree o modifique
            su campaña (por ejemplo, la configuración de presupuesto), adapta la configuración
            de la campaña de tal forma que sea apropiada para sus objetivos y elimina las funciones
            no relacionadas. Cuando haya elegido todos los parámetros de configuración, haga
            clic en "Guardar".</p>
        <p>
            A continuación, debes agregar los anuncios, previamente creados, que formarán parte
            de la campaña.
        </p>
        <img src="" />
        <h5>
            Edición de Campañas
        </h5>
        <p>
            Es posible editar cada detalle de campaña para actualizar el anuncio correspondiente.
            Además es posible dar de baja a los anuncios que ya no sean relevantes para la campaña.</p>
        <h3 id="anuncios">
            <i class="icon-desktop"></i> Anuncios</h3>
        <h4>
            Maneje sus anuncios</h4>
        <h5>
            Cómo crear un anuncio</h5>
        <p>
            Debe crear, al menos, un anuncio antes de crear su primera campaña vigente. Esto
            es así, porque su campaña estará formada por un grupo de anuncios. Aquí le mostramos
            cómo:</p>
        <p>
            Haga clic en "Nuevo".</p>
        <img src="" />
        <p>
            Desde la pestaña de “Anuncios”, puede obtener el listado de anuncios activos, presentes
            en campañas vigentes, así como anuncios de campañas pasadas.</p>
        <img src="" />
        <h4>
            Anuncios</h4>
        <p>
            Se abrirá la página "Nueva Catálogo".</p>
        <h4>
            Nuevo Catálogo</h4>
        <p>
            Primero, debe asignarlo un nombre a su anuncio. Aunque Optical Marketing indica
            un nombre de catálogo predeterminado, le sugerimos que elija un nombre representativo
            para la categoría de productos que formarán parte del mismo. Sus potenciales clientes
            podrán ver el nombre de su catálogo.</p>
        <p>
            Luego debe asignarle un tipo de orden, es decir, el tipo de ordenamiento que seguirá
            el catálogo a la hora de ser mostrado en interacción con sus potenciales clientes.</p>
        <p>
            Finalmente, elija el estado del catálogo, para definir si será susceptible de formar
            parte de una campaña inmediatamente o a futuro.</p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>
        <p>
            Agregar “Productos” al catálogo.</p>
        <img src="" />
        <p>
            Agregar Producto</p>
        <h3 id="productos">
            <i class="icon-shopping-cart"></i> Productos</h3>
        <h5>
            Cree sus productos</h5>
        <h4>
            Cómo crear un nuevo producto</h4>
        <p>
            Debe crear los productos que formarán parte de cada uno de los anuncios que asignará
            a su campaña vigente.</p>
        <p>
            Aquí le mostramos cómo debe hacerlo:</p>
        <img src="" />
        <h5>
            Productos</h5>
        <p>
            En esta sección puede administrar sus productos.
        </p>
        <p>
            Cada producto puede ser editado, dado de baja o consultado en sus detalles e información
            adicional.</p>
        <p>
            Se abrirá la página "Nuevo Producto”.</p>
        <h5>
            Nuevo Producto</h5>
        <p>
            Primero, asigne un nombre a su producto, una descripción que sea significativa.
            Debe tener en cuenta de éste nombre será el que se muestre a sus potenciales clientes.
        </p>
        <p>
            Asimismo, la descripción será la que se despliegue cuando se esté interactuando
            con su anuncio.</p>
        <p>
            Luego, elija la categoría del producto. Esta categoría será útil para que Optical
            Marketing pueda mostrar sus anuncios en escenarios relevantes.</p>
        <p>
            Es importante el tamaño y el tipo de imagen que seleccione para su producto. El
            tamaño recomendado es de 1280x1024 como mínimo.
        </p>
        <p>
            Tenga en cuenta que esta imagen es mostrada a sus potenciales clientes en resoluciones
            realmente grandes. Además, el tipo deberá ser ‘jpg’, ‘jpeg’ o ‘png’, debido a la
            compatibilidad estándar de estos formatos.</p>
        <p>
            Cuando haya elegido todos los parámetros de configuración, haga clic en "Guardar".</p>
        <p>
            Por supuesto también es posible editar cada producto, ya sea para actualizar su
            información o su imagen.
        </p>
        <h3 id="rendimiento">
            <i class="icon-bar-chart"></i> Rendimiento</h3>
        <h5>Controle su rendimiento</h5>
        <h5>Retorno de la inversión (ROI)</h5>
        <p>Cuando usa Optical Marketing
        para aumentar las conversiones, como ventas, clientes potenciales, es recomendable
        medir el retorno de la inversión (ROI). Al conocer su ROI, se asegurará de que el
        dinero que invierta en anuncios de Optical Marketing se aproveche bien: buenas ganancias
        para su empresa. </p>
        <h5>¿Qué es el ROI?</h5>
        <p>El ROI es la proporción entre sus ganancias y sus
        costos, y el método exacto que use para calcularlo dependerá de los objetivos de
        su campaña. Por ejemplo, una inversión de $1.000), que genera ingresos de $1.200,
        le brinda ganancias de $200. Luego, puede calcular el ROI como ((1.200 - 1.000)/1.000)
        o un 20%. Generalmente, es la métrica más importante para los anunciantes porque
        se basa en sus objetivos publicitarios específicos y muestra el efecto real que
        sus esfuerzos publicitarios tienen en su empresa. </p>
        <h5>Qué importancia tiene el ROI</h5>
        <p>Al calcular el ROI, puede saber cuánto dinero obtiene a partir de la publicación de
        anuncios con Optical Marketing. Puede utilizar el ROI para decidir cómo invertir
        su presupuesto. Por ejemplo, si detecta que cierta campaña genera un ROI más alto
        que otras, puede asignar más dinero de su presupuesto a la campaña exitosa y menos
        a las campañas que no tienen tan buen rendimiento. También puede usar la información
        para mejorar el rendimiento de las campañas que tienen menos éxito. </p>
        <p>Dicho lo anterior,
        es importante dar un vistazo a la página principal de bienvenida de la administración
        de Optical Marketing.</p>
        <img src="" />
        <p>Posee una vista rápida de los valores más importantes como:</p>
<ul>
    <li>Rendimiento de las campañas</li>
    <li>Rendimiento de los anuncios</li>
    <li>Productos relevantes</li>
    <li>Alertas de presupuesto</li>
    <li>Campañas vigentes</li>
    <li>Anuncios vigentes</li>
</ul>	

    </div>
</div>
