@model OMKT.Models.SummaryBoard
<div class="span3">
    <a class="btn btn-success btn-large" href="#"><i class="icon-film icon-2x pull-left">
    </i>Impresiones<br>
        @Model.Impressions</a>
</div>
<div class="span3 ">
    <a class="btn btn-danger btn-large" href="#"><i class="icon-thumbs-up icon-2x pull-left">
    </i>Valoraciones
        <br>
        @Model.LikesPercentage%</a>
</div>
<div class="span3">
    <a class="btn btn-primary btn-large" href="#"><i class="icon-group icon-2x pull-left">
    </i>Tiempo promedio de visita
        <br>
        @Model.TimeAverage s</a>
</div>
<div class="span3">
    <a class="btn btn-inverse btn-large" href="#"><i class="icon-external-link icon-2x pull-left">
    </i>Porcentaje de rebote
        <br>
        @Model.Bounce%</a>
</div>
