@model OMKT.Models.SummaryBoard
<div class="span3">
    <a class="btn btn-success btn-large" href="#"><i class="icon-film icon-2x pull-left">
    </i>Impresiones<br>
        @Model.Impressions</a>
</div>
<div class="span3">
    <a class="btn btn-warning btn-large" href="#"><i class="icon-gift icon-2x pull-left">
    </i>Promocionados
        <br>
        @Model.WinsAverage%</a>
</div>
<div class="span3 ">
    <a class="btn btn-danger btn-large" href="#"><i class="icon-thumbs-up icon-2x pull-left">
    </i>Valoraciones
        <br>
        @Model.LikesPercentage%</a>
</div>
<div class="span3">
    <a class="btn btn-primary btn-large" href="#"><i class="icon-group icon-2x pull-left">
    </i>Tiempo promedio de visita
        <br>
        @Model.TimeAverage s</a>
</div>

