@model IEnumerable<OMKT.Business.Monitoring>
           
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hora', 'Personas'],
          @foreach (var item in Model){
            @:[@item.Timestamp, @item.Average], 
          }
         ]);
                var options = {
            width: 1300,
            height: 240,
            title: '',
//            colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<div id="chart_div" style="width: 100%; height: auto;">
</div>
