@model IEnumerable<OMKT.Models.MonitoringOverview>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hora', 'Personas'],
           @foreach (var item in Model)
           { 
                @:['@item.Timestamp', @item.Average], 
           }]);        
            
         var options = {
            width: 1300,
            height: 240,
            title: 'Monitoreo',
            color: ['#e6693e']
        };

        var chart = new google.visualization.LineChart(document.getElementById('DailyMonitoring'));
        chart.draw(data, options);
    }
</script>
<div id="DailyMonitoring" style="width: 100%; height: auto;">
</div>
