@model IEnumerable<OMKT.Business.Monitoring>

@{
    ViewBag.Title = "Monitoreo";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Monitoreo</h2>
<div class="alert">
A continuación te mostramos el flujo de personas obtenido por todos los puestos de difusión.
</div>
<h4>Hoy</h4>
<div class="span12">@{Html.RenderAction("AdvertHostMonitoring", "Monitoring");}</div>
<h4>Última semana</h4>
<div class="span12">@{Html.RenderAction("AdvertHostMonitoring", "Monitoring");}</div>

