@model IEnumerable<OMKT.Business.Monitoring>

@{
    ViewBag.Title = "Monitoreo";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}

<h2>Monitoreo</h2>
<p>
A continuación te mostramos el flujo de personas arrojado por nuestra <a href="#">Red de Puntos de Difusión</a>.
</p>
<h4>Hoy</h4>
<div class="span12">@{Html.RenderAction("AdvertHostMonitoring", "Monitoring");}</div>
<div class="clear"></div>
<h4>Última semana</h4>
<div class="span12">@{Html.RenderAction("AdvertHostMonitoringDaily", "Monitoring", new { top = 7 });}</div>

