@{
    ViewBag.Title = "Anunciantes";
}
<div class="page rounded wbox">
    <div class="page-content">
        <div class="page-header">
        <h2>
            Anunciantes</h2></div>
        <p>
            <img src="@Url.Content("~/Content/images/audience-omkt.png")" class="img-rounded" alt="Optical Maketing" />
        </p>
        <h3>
            Nuestra misión</h3>
        <p>
            Somos una empresa enfocada en alcanzar a la audiencia objetivo y generar informes detallados de rendimiento. Nuestra especialidad es optimizar las camapañas en base a múltiples puntos de difusión.
            
        </p>
        <h3>
            Alcance</h3>
        <p>@*<img src="@Url.Content("~/Content/images/reach.png")" class="img-rounded pull-right" alt="Alcance" width="150px"/>*@
            <span class="span11" style="margin-left: 0">A través de los diferentes puntos de difusión, podemos alcanzar las zonas de tráfico intenso de personas en horarios pico. Éstos puestos, están estratégicamente ubicados, lo que permite una llegada directa hacia la audiencia objetivo.</span>
        </p>
        <p class="clearfix"></p>
        <h3>Productos</h3>
        <h4>Focalización</h4>
        <p>Podemos segmentar nuestra red dentro de los siguientes canales clasificados por género:
            <div class="well">
                Un canal por cada género:
                <ul class="">
                    <li>Autos</li>
                    <li>Deportes</li>
                    <li>Política, economía y finanzas</li>
                    <li>Redes Sociales</li>
                    <li>Viajes</li>
                    <li>Juegos</li>
                    <li>Salud</li>
                    <li>Hombres</li>
                    <li>Mujeres</li>
                    <li>Tecnología</li>
                    <li>Niños</li>
                    <li>E-Commerce</li>

                </ul>
            </div>
        </p>
        <h4>Respuesta en tiempo real</h4>
        <p>
            Los anuncios se muestran según el análisis óptico que se esté realizando en ese momento. A través de la plataforma web de Optical Marketing, podrás obtener el rendimiento de tu campaña en tiempo real, y realizar los ajustes que creas necesarios.
        </p>
        <h4>Retargeting</h4>
        <p>
            Permite identificar a quienes visitaron un determinado puesto de difusión, para evaluar su comportamiento y optimizar en base a los resultados.
        </p>
        
    </div>
</div>
