@{
    ViewBag.Title = "Editores";
}
<div class="page rounded wbox">
    <div class="page-content">
        <div class="page-header">
            <h2>
                Editores</h2>
        </div>
        <p>
                Optical Marketing es la mejor alternativa para rentabilizar tu local. 
                Te invitamos a maximizar tus ingresos: Utiliza Kinect y nuestra plataforma web para obtener ganancias.
                Nuestra amplia red de anunciantes brinda oportunidades únicas.
        </p> 
        <p>Nuestro foco está en el Marketing Digital, es decir, el despliegue de anuncios y banners, 
            pero sumado al potencial que ofrece Kinect para interactuar con tu audiencia.
        </p>
        <h3>Revenue Share</h3>
        <p>En Optical Marketing optimizamos los anuncios que mostramos en cada puesto de difusión, según la audiencia que posean y de esta manera, aumentar el rendimiento de los mismos. 
        </p> <p>Actualmente el porcentaje que se utiliza en el mercado es del 60%. Nosotros tomamos este valor como base, y lo vamos mejorando conforme aprendamos de quienes visitan tu puesto.</p>
        <h3>Métodos de pago</h3>
        <p>Puedes elegir entre: tarjeta de débito, cheque enviado a domicilio o transferencia a tu cuenta de Paypal.</p>
        <h3>Anuncios ilimitados</h3>
        <p>
            Gracias a los acuerdos con anunciantes, siempre tendremos anuncios que mostrar en tu puesto, por lo que no perderás ganancias. En Optical Marketing cada impresión cuenta. 
        </p>
        <h3>Soporte técnico</h3>
        <p>En Optical Marketing queremos que tus consultas siempre tengan respuestas. Por eso, ponemos a tu disposición un técnico que responda a cualquier duda que tengas. Lo puedes hacer mediante email, chat o teléfono. </p>
        <h3>Administración</h3>
        <p>Desarrollamos una plataforma self-service donde anunciantes y editores pueden armar y supervisar sus campañas. La herramienta permite el planeamiento y seguimiento de campañas, soporte y monitoreo en tiempo real.
        </p>
       @* <h3>Ingresos por cada mil impresiones aproximadamente</h3>
        <p>//Table</p>*@
    </div>
</div>
