@{
    ViewBag.Title = "About Us";
}
<div class="page rounded wbox">
    <div class="page-content">
        <div class="page-header">
        <h2>
            Sobre nosotros</h2>
        </div>
        <h3>
            ¿Quiénes somos?</h3>
        <p>
            Optical Marketing es una empresa de tecnología especializada en el negocio de Marketing
            Digital. Nos enfocamos en desarrollar soluciones y productos para la industria del
            Marketing para ayudarte a alcanzar a tu audiencia.</p>
        <p>
            Combinando el monitoreo y análisis óptico de la audiencia contexto a través del
            dispositivo Kinect, podemos identificar los anuncios más relevantes para tu audiencia
            objetivo, incrementando así, el retorno de inversión.</p>
        <p>
            Optical Marketing utiliza Kinect de Microsoft. Kinect permite interactuar con tus
            anuncios o aplicaciones sin necesidad de tener contacto físico, mediante una interfaz
            natural de usuario (NUI) que reconoce gestos, comandos de voz, objetos e imágenes.
            De esta manera, Kinect brinda una infinidad posibilidades de información valiosa.
        </p>
        <h3>
            Equipo</h3>
        <p>
            David Fernández</p>
        <p>
            Rodrigo Liberal</p>
        <p>
            Carlos Kapica
        </p>
        <p>
            Julián Peker</p>
        <h3>
            Contáctanos</h3>
        <p>
            <span class="">
                <img class="img-rounded" src="@Url.Content("~/Content/images/office.png")" alt="Oficinas de Optical Marketing" height="200"/>
            </span>
        </p>
        <p>
            Nuesra prioridad eres tú. ¡Contáctanos!</p>
        <p>
            <address>
                <strong>Optical Marketing SRL</strong><br>
                                                      Obispo Trejo 1173, 7 A<br>
                                                                            Córdoba, CP 5000<br>
                                                                                            <abbr title="Phone">
                                                                                                Tel:</abbr>
                                                                                            (351) 456-7890
            </address>
        </p>
        <div class="well ">
            <strong>Email</strong> <a href="mailto:info@opticalmarketing.com">info@opticalmarketing.com</a>
        </div>
    </div>
</div>
