@{
    ViewBag.Title = "Optical Marketing | Exploiting-People's Potential";
    Layout = "~/Views/Shared/_Index_Layout.cshtml"; //Mandale Index Layout
}
<div class="slider-content header-dark">
    <div id="da-slider" class="da-slider" style="margin: 0 auto;">
        <div class="da-slide">
            <h2>
                Potencial de las personas
            </h2>
            <p>
                Aprovechamos el potencial de las personas para mostrar anuncios relevantes y aumentar
                el retorno de inversión de su campaña. Descubre nuestra plataforma de administración
                y genera oportunidades únicas. ¡Obtén una versión de prueba ahora!. 
            </p>
           @* <a href="#" class="da-link btn btn-danger">Empezar</a>*@
            <div class="da-img">
                <img src="@Url.Content("~/Content/images/indexKinect.png")" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
			<span class="da-arrows-prev"></span><span class="da-arrows-next"></span>
		</nav>
    </div>
</div>
<div class="page">
    <div class="content">
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <span class="features-list"><i class="icon-bar-chart"></i></span> Campañas</h3>
                            <p>
                                Utiliza nuestra plataforma para crear campañas exitosas y generar oportunidades
                                directamente. En sólo unos minutos decide el grupo de anuncios que deseas mostrar.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <span class="features-list"><i class="icon-share"></i></span> Anuncios</h3>
                            <p>
                                Descubre la mejor manera de crear anuncios y aplicaciones altamente personalizadas
                                para formar tus campañas.
                            </p>
                            <p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <span class="features-list"><i class="icon-shopping-cart"></i></span> Productos</h3>
                            <p>
                                Administra tu cartera de productos insignia y descubre el impacto que producen en
                                tu audiencia.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <span class="features-list"><i class="icon-fullscreen"></i></span> Red de difusión</h3>
                            <p>
                                Nuestra red de puntos de difusión está formada por las zonas más transitadas y congestionadas.
                                Esto asegura que tus anuncios alcancen efectivamente a tu público objetivo.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <span class="features-list"><i class="icon-desktop"></i></span> Interacción</h3>
                            <p>
                                Sé quien esté a la vanguardia en teconología. Con Kinect descubre cómo transformar
                                la forma en que las personas interactúan con tus anuncios.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>
                                <span class="features-list"><i class="icon-dashboard"></i></span> Plataforma web</h3>
                            <p>
                                Administrar nunca fue tan fácil. Te ofrecemos una plataforma tecnológica para reducir
                                los tiempos de administración y mejorar el rendimiento. ¡Qué estás esperando!
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("/Scripts/jquery.cslider.js")"></script>
<script type="text/javascript">

    $(function () {

        $('#da-slider').cslider({
            autoplay: false,
            bgincrement: 450
        });

    });
		
</script>
