@{
    ViewBag.Title = "Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page rounded wbox">
    <div class="page-content">
        <div class="page-header">
            <h2>
                Privacidad</h2>
        </div>
        <p>
        </p>
    </div>
</div>
