<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings>
   <add name="OMKT.Context.OMKTDB" connectionString="Data Source=CALISTO\SQLEXPRESS;Initial Catalog=OMKT.Context.OMKTDB;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />    
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <!--Application Title-->
    <add key="ApplicationTitle" value="Optical Marketing" />
    <!-- App settings -->
    <add key="DefaultPaginationSize" value="30" />
    <!--Database Settings-->
    <add key="DatabaseInitializerForType OMKT.Context.OMKTDB, OMKT" value="OMKT.Context.DataContextInitializer, OMKT" />
    <!-- Careful with production data! -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultVAT" value="18" />
    <add key="DefaultAdvancePaymentTax" value="15" />
    <!--company details-->
    <add key="MyCompanyName" value="Optical Solutions" />
    <add key="MyCompanyID" value="" />
    <add key="MyCompanyAddress" value="Obispo trejo 1173, 7 A" />
    <!-- ";" will be replace by a break line -->
    <add key="MyCompanyPhone" value="654 249068" />
    <add key="MyEmail" value="info@opticalmarketing.com" />
    <add key="MyBankAccount" value="" />
    <add key="demo" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="OpticalMarketingMembershipProvider">
      <providers>
        <clear />
        <add name="OpticalMarketingMembershipProvider" type="OMKT.Models.Security.OpticalMarketingMembershipProvider" connectionStringName="OMKTDB" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OpticalMarketingRoleProvider">
      <providers>
        <add name="OpticalMarketingRoleProvider" type="OMKT.Models.Security.OpticalMarketingRoleProvider" connectionStringName="OMKTDB" />
      </providers>
    </roleManager>
    <profile enabled="false">
      <providers>
        <clear />
      </providers>
    </profile>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <!--<add namespace="System.Web.Mvc.Ajax" />-->
        <!--<add namespace="System.Web.Mvc.Html" />-->
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="1024000" requestLengthDiskThreshold="1024000" executionTimeout="18000" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>