@model IEnumerable<OMKT.Models.CatalogOverview>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
          ['Catalogos', 'Reproducciones'],
           @foreach (var item in Model)
           {
            @:['@item.CatalogtName', @item.Views], 
           }
         ]);

            var options = {
                title: 'Reproducciones'
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
  
    <div id="chart_div" style="width: 40%; height: auto"></div>
