@model OMKT.Business.Catalog

<div id="delete-info" class="alert alert-info">
    <strong>¿Estás seguro que deseas eliminar este Catálogo?</strong>
</div>
<p>
    <strong>Nombre de Catálogo</strong>
</p>
<p>@Html.DisplayFor(model => model.Name)
</p>
<p>
    <strong>Fecha de vigencia</strong>
</p>
<p>@Html.DisplayFor(model => model.StartDatetime)
</p>
<p>
    <strong>Fecha de caducidad:</strong></p>
<p>
    @Html.DisplayFor(model => model.EndDatetime)
</p>
@using (Html.BeginForm("Delete", "Catalog", FormMethod.Post, new { @id= "delete-catalog" })) { }
