@{
    ViewBag.Title = "Administración de Catálogos";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
<h2>
    Administración <small>de Catálogos</small></h2>
<div class="row-fluid">
    <div class="span2">
        <a href="@Url.Action("Create", "Catalog")" class="btn btn-primary"><i class="icon-plus icon-white "></i> Nuevo Catálogo</a>
    </div>
    <div class="span12">@{Html.RenderAction("CatalogsOverview", "Stats");}</div>
</div>
@{Html.RenderAction("LatestCatalogs", "Catalog");}
