@model OMKT.Models.CampaignPerformance

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mes', 'Valoraciones', 'Interacciones'],
          ['', 0 ,0]
         ]);

        var options = {
            width: 550,
            height: 240,
            title: '',
            colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
//    console.log(@Model.Impressions);
//    console.log(@Model.Traffic);
//    console.log(@Model.Month);

</script>
<div id="chart_div" style="width: 100%; height: auto;">
</div>
