<div class="summary-board">
    <table class="table table-striped table-bordered dataTable" width="100%">
        <tr>
            <td>
                <h3>
                    Impresiones X</h3>
            </td>
            <td>
                <h3>
                    Valoraciones X</h3>
            </td>
            <td>
                <h3>
                    Tiempo promedio de visita X</h3>
            </td>
            <td>
                <h3>
                    Porcentaje de rebote X%</h3>
            </td>
        </tr>
    </table>
</div>
