
@if (!string.IsNullOrWhiteSpace(ViewBag.Error)) { 
<div class="alert alert-error">
    @ViewBag.Error<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Warning))
{ 
<div class="alert alert-warning">
    @ViewBag.Warning<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Success))
{ 
<div class="alert alert-success">
    @ViewBag.Success<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
}