@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model string


@using (Html.BeginForm("Search", Model, new {proposal=ViewBag.IsProposal},  FormMethod.Get))
{
 <div class="searchBox noprint">
            Texto:
                <input name="text" id="text" type="text" value="@Request["text"]"
              placeholder="" />
            
        Desde: <input class="datefield small" name="from" id="from" type="text" value="@Request["from"]"
          placeholder=""/>
       
        Hasta:  <input class="datefield small" name="to" id="to" type="text" value="@Request["to"]"
          placeholder=""/>
 <span class="btn-group" style="font-size: 12px">
     <input type="submit" value="Filtro" class="btn small primary" />
     <a href="?filter=clear" class="btn small">Limpiar</a>
 </span>
 </div>
}
